/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/docker
/storage/debugbar
/vendor
.idea
.phpstorm.meta.php
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php

